# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
**/.cache/
**/.venv/
**/__pycache__/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Editor, OS files
.idea/
.DS_Store
*.iml

# dependency management files
.glide/
.glide-cache/

# cgo output
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

*.exe
*.bat
*.test
*.prof
*.log
*.out
*.orig
*.tmp
*.dll

# Output of the go coverage tool
*.out
*.cov

# we don't vendor godep _workspace
**/Godeps/_workspace/**
vendor/

# ignore build artifacts
build/
bin/
pkg/
temp/

# Ignore tests artifacts
v1/plugin/libtest*
