sudo: false

language: go

dist: xenial

go:
  - 1.15.x
  - 1.14.x
  - 1.13.x

env:
  global:
    - ORG_PATH=/home/travis/gopath/src/github.com/librato
    - SNAP_PLUGIN_SOURCE=/home/travis/gopath/src/github.com/${TRAVIS_REPO_SLUG}    
  jobs:
    - TEST_TYPE=lint
    - TEST_TYPE=build
    - TEST_TYPE=small
    - TEST_TYPE=medium
  
cache:
  directories:
  - $GOPATH/pkg/mod

before_install:
  - "[[ -d $SNAP_PLUGIN_SOURCE ]] || mkdir -p $ORG_PATH && ln -s $TRAVIS_BUILD_DIR $SNAP_PLUGIN_SOURCE"

install:
  - cd $SNAP_PLUGIN_SOURCE
  - make deps

script:
  - if [ "$TEST_TYPE" = "lint" ]; then make check 2>&1 && go get honnef.co/go/tools/cmd/staticcheck@v0.0.1-2020.1.5 && staticcheck ./...; fi
  - if [ "$TEST_TYPE" = "build" ]; then wget https://packages.microsoft.com/config/ubuntu/16.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb && sudo dpkg -i packages-microsoft-prod.deb && 
       sudo apt-get update && sudo apt-get install -y gcc-multilib gcc-mingw-w64 apt-transport-https dotnet-sdk-3.1 dotnet-runtime-3.1 && make build 2>&1; fi
  - if [ "$TEST_TYPE" = "small" ]; then make check 2>&1; fi
  - if [ "$TEST_TYPE" = "medium" ]; then make check 2>&1; fi

stages:
  - name: lint
    if: env(TEST_TYPE) IS "lint"
  - name: build
    if: env(TEST_TYPE) IS "build"
  - name: test
    if: env(TEST_TYPE) IN ("small", "medium")
