# WhiteSource Unified-Agent configuration file
# https://whitesource.atlassian.net/wiki/spaces/WD/pages/804814917/Unified+Agent+Configuration+File+and+Parameters

printCliErrors=true

# Go configuration

# https://whitesource.atlassian.net/wiki/spaces/WD/pages/494960641/Go+Integration

go.resolveDependencies=true

go.collectDependenciesAtRuntime=true

go.dependencyManager=modules

